{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

<!--nav-->
{% block nav-content %}
<i class="fas fa-stethoscope"></i>&nbsp;&nbsp; Login
{% endblock nav-content %}

{% block btn-nav %}
<a href="{% url 'homepage' %}" class="btn btn-outline-primary btn-sm border-light text-light" id="btn-nav">Inapoi</a>
{% endblock btn-nav %}

{% block content %}
<div class="container mt-5">
    <div class="card p-3 border-dark">
        <span class="btn btn-outline-dark mt-3"><i class="fas fa-lock"></i>&nbsp;&nbsp;Acces restrictionat</span>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter">
        </form>
    </div>

    <!--mesaj la username si password-->
    {% if form.errors %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        swal("Acces respins", "Introduceti datele corect.", "error")
    </script>
    {% endif %}


    <center id="medkit">
        <i class="fa fa-medkit fa-5x" aria-hidden="true"></i>
    </center>

</div>
{% endblock content %}